<header class="navbar navbar-fixed-top navbar-inverse header">
  <div class="container">
    <%= link_to "Task App", root_path, id: "logo" %>
    <nav class="nav">
      <ul class="nav navbar-nav navbar-right list-home">
        <li class="list"><%= link_to "Top", root_path, class: "list-item" %></li>
        <% if logged_in? %>
          <li class="list"><%= link_to "Users", '#', class: "list-item" %></li>
          <li class="dropdown list">
            <a href="#" class="dropdown-toggle list-item" data-toggle="dropdown" id="dropdown-title">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Show", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="list"><%= link_to "Log in", login_path,class: "list-item" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
